<ngx-loading [show]="loading"></ngx-loading>
<div class="d-flex flex-column">
    <h3 class="my-5">Detalhes da assinatura</h3>
    
    <div class="d-flex flex-row">
        <a mat-flat-button color="primary" class="mx-3" (click)="downloadSignedFile()">
            <mat-icon>download_for_offline</mat-icon>
            Baixar arquivo assinado (JSON)
        </a>

        <button mat-stroked-button color="primary" class="mx-3" (click)="downloadOriginalFile()">
            <mat-icon>download</mat-icon>
            Baixar arquivo original a partir da assinatura
        </button>

        <a mat-stroked-button color="primary" routerLink="/signatures">
            <mat-icon>undo</mat-icon>
            Retornar
        </a>
    </div>
    
    <app-signature-viewer [signature]="signature" class="mt-3" *ngIf="signature"></app-signature-viewer>
</div>